<div class="navbar">
    <div class="navbar-content">
        <div class="navbar-left">
            <a href="controle.html" class="navbar-brand">
                <i class="fas fa-arrow-left"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="navbar-right">
            <div class="clock-container">
                <div class="date-info">
                    <div class="clock" id="clock"></div>
                    <span class="weekday" id="weekday"></span>
                    <span id="current-date"></span>
                </div>
            </div>
            <button class="theme-toggle" onclick="toggleTheme()">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <span>Tema</span>
            </button>
        </div>
    </div>
</div>
